:root {
  --color-primary: #FFD600;
  --color-secondary: #6c757d;
  --color-success: #28a745;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3545;
  --color-light: #f8f9fa;
  --color-dark: #343a40;
  --color-white: #fff;
  --color-black-500: #000;
  --color-black-400: #1B1B1B;
  --color-gray: #6c757d;
  --color-gray-dark: #343a40;
}